<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">books</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

            <a class="nav-item nav-link" routerLink="/listbook" *ngIf="loginService.isUserLoggedIn()" routerLinkActive="active">Liste</a>

            <a class="nav-item nav-link" routerLink="/addBook" *ngIf="loginService.isUserLoggedIn()" routerLinkActive="active">Ajouter</a>

            <a class="nav-item nav-link" routerLink="/login" *ngIf="!loginService.isUserLoggedIn()" routerLinkActive="active">Login</a>

            <a class="nav-item nav-link" routerLink="/logout" *ngIf="loginService.isUserLoggedIn()" routerLinkActive="active">LogOut</a>

        </div>
    </div>
</nav>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>