<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Add book</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
<style>
.command {
	background-color: rgba(255, 255, 255, .0);
	border: none;
	color: #9F9E9E;
}
</style>
</head>
<body>

<!-- <div th:replace="fragments/header :: header" />  -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand"><i
			class="fas fa-book"></i> AKA Bookstore</a>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul style="display: none;" id="admin" class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					href="http://127.0.0.1:82/home">Home</a></li>

				<li class="nav-item admin"><a class="nav-link"
					href="/book/list/">Book management</a></li>
				<li class="nav-item admin">
					
						<div hidden sec:authentication="name" id="email"></div>
				
				
				<li class="nav-item user"><form action="#"
						th:action="@{/command/list}">

						<input hidden type="text" id="in5" name="email" /> <input
							class="command" type="submit" value="Command management" />
					</form> <script type="text/javascript">
						var x = document.getElementById("email").innerText;
						document.getElementById("in5").value = x;
					</script></li>
				
				
				
				<li class="nav-item admin"><a class="nav-link"
					href="/accounts/list/">Account management</a></li>
			</ul>

		
		</div>
		<div>
			<span th:style="'color: white'" sec:authentication="name"></span> <a
				class="btn btn-primary mx-2" th:href="@{/logout}"><i
				class="fas fa-sign-out-alt"></i>Sign Out</a>

		</div>
	</nav>





	<div class="container my-5">
		<h3 class="container my-5">Add book</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form action="#" th:action="@{/book/add}" th:object="${book}" enctype="multipart/form-data"
						method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="title" class="col-form-label">Title</label> <input
									type="text" th:field="*{title}" class="form-control" id="title"
									placeholder="Title" /> <span
									th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="author" class="col-form-label">Author</label> <input
									type="text" th:field="*{author}" class="form-control"
									id="author" placeholder="Author" /> <span
									th:if="${#fields.hasErrors('author')}" th:errors="*{author}"
									class="text-danger"></span>
							</div>

							<div class="form-group col-md-8">
								<label for="price" class="col-form-label">Price</label> <input
									type="text" th:field="*{price}" class="form-control" id="price"
									placeholder="Price" /> <span
									th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="quantity" class="col-form-label">Quantity</label> <input
									type="number" th:field="*{quantity}" class="form-control" id="quantity"
									placeholder="Quantity" /> <span
									th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="releaseDate" class="col-form-label">Release
									date</label> <input type="date" th:field="*{releaseDate}"
									class="form-control" id="releaseDate"
									placeholder="Release Date" /> <span
									th:if="${#fields.hasErrors('releaseDate')}"
									th:errors="*{releaseDate}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
							<label for="price" class="col-formlabel">Picture</label> 
							<input class="form-control" type="file" name="files" multiple>
							</div>

						</div>
						
						
						<div class="col-md-6 my-3">
							<input type="submit" class="btn btn-success" value="Add book" />
							<a th:href="@{/book/list}" class="btn btn-danger">Cancel</a>
						</div>
				</div>
				</form>
			</div>
		</div>
	</div>
	</div>
	
	<div hidden sec:authentication="principal.authorities" id="role"></div>
	<script type="text/javascript">
			var x = document.getElementById("role").innerText;


			
			if (x =="[USER]")
				document.getElementById("user").style.display = "contents";
			else
				document.getElementById("admin").style.display = "contents";
		</script>
</body>
</html>