<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Books</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
	<style>
.command {
	background-color: rgba(255, 255, 255, .0);
	border: none;
	color: #9F9E9E;
}
</style>
</head>
<body>


<!-- <div th:replace="fragments/header :: header" />  -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" ><i
			class="fas fa-book"></i> AKA Bookstore</a>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul style="display: none;" id="admin" class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					href="http://127.0.0.1:82/home">Home</a></li>

				<li class="nav-item admin"><a class="nav-link"
					href="/book/list/">Book management</a></li>
				<li class="nav-item admin">
					
						<div hidden sec:authentication="name" id="email"></div>
				
				
				<li class="nav-item user"><form action="#"
						th:action="@{/command/list}">

						<input hidden type="text" id="in5" name="email" /> <input
							class="command" type="submit" value="Command management" />
					</form> <script type="text/javascript">
						var x = document.getElementById("email").innerText;
						document.getElementById("in5").value = x;
					</script></li>
				
				
				
				<li class="nav-item admin"><a class="nav-link"
					href="/accounts/list/">Account management</a></li>
			</ul>
			<ul style="display: none;" id="user" class="navbar-nav mr-auto">



				<li class="nav-item user"><form action="#"
						th:action="@{/command/list}">

						<input hidden type="text" id="in10" name="email" /> <input
							class="command" type="submit" value="My Commands" />
					</form> <script type="text/javascript">
						var x = document.getElementById("email").innerText;
						document.getElementById("in10").value = x;
					</script></li>


				<li class="nav-item user"><form action="#"
						th:action="@{panier/cart}">

						<input hidden type="text" id="in12" name="email" /> <input
							class="command" type="submit" value="Cart" />
					</form> <script type="text/javascript">
						var x = document.getElementById("email").innerText;
						document.getElementById("in12").value = x;
					</script></li>
			</ul>
		</div>
		<div>
			<span th:style="'color: white'" sec:authentication="name"></span> <a
				class="btn btn-primary mx-2" th:href="@{/logout}"><i
				class="fas fa-sign-out-alt"></i>Sign Out</a>

		</div>
	</nav>






	<h2 align="center" class="my-5">List of books</h2>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${books}" class="container my-5">
					<p class="my-5">
						<a th:href="@{'/book/add/'}" class="btn btn-dark"><i
							class="fas fa-plus-circle"></i> Add book</i></a>
					</p>
					<div class="col">
						<h2 th:case="null">No books yet!</h2>
						<div th:case="*">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr style="text-align:center;">
										<th>Title</th>
										<th>Author</th>
										<th>Price</th>
										<th>Quantity</th>
										<th>Release date</th>
										<th>Image</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								</thead>
								<tbody style="text-align:center;">
									<tr th:each="book : ${books}">
										<td th:text="${book.title}"></td>
										<td th:text="${book.author}"></td>
										<td th:text="${book.price}"></td>
										<td th:text="${book.quantity}"></td>
										<td th:text="${book.releaseDate}"></td>
										<td ><img alt="Image" th:src="@{'/uploads/'+
${book.picture}}" width="50" height="50"/></td>
										<td><a th:href="@{/book/edit/{id}(id=${book.id})}"
											class="btn btn-primary"><i class="far fa-edit"></i></a></td>
										<td ><a  th:href="@{/book/delete/{id}(id=${book.id})}"
											class="btn btn-danger"><i class="fas fa-trash-alt"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div hidden sec:authentication="principal.authorities" id="role"></div>
	<script type="text/javascript">
			var x = document.getElementById("role").innerText;


			
			if (x =="[USER]")
				document.getElementById("user").style.display = "contents";
			else
				document.getElementById("admin").style.display = "contents";
		</script>
	
	
</body>

</html>