<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Client List</title>
<meta firstName="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>
<body >
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/book/list/">Book</a></li>
				<li class="nav-item"><a class="nav-link" href="/order/list/">commande</a></li>
				<li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
			</ul>
		</div>
	</nav>
	<h1 align="center" style="color:black">List Clients</h1>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">
				<div th:switch="${clients}" class="container my-5">
					<p class="my-5">
						<a th:href="@{'/client/add/'}" class="btn btn-primary"><i
							class="fas fa-user-plus ml-2"> Add Client</i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">No Clients yet!</h2>
						<div th:case="*">
							<table class="table">
  								 <thead class="thead-dark">
									<tr>
										<th scope="col">First Name</th>
										<th scope="col">Last Name</th>
										<th scope="col">Adress</th>
										<th scope="col">Mail</th>
										<th scope="col">Phone Number</th>
										<th scope="col">Edit</th>
										<th scope="col">Delete</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="client : ${clients}">
										<td scope="row" th:text="${client.firstName}"></td>
										<td scope="row" th:text="${client.lastName}"></td>
										<td scope="row" th:text="${client.adress}"></td>
										<td scope="row" th:text="${client.mail}"></td>
										<td scope="row" th:text="${client.phoneNumber}"></td>
										<td scope="row"><a
											th:href="@{/client/edit/{id}(id=${client.idClient})}"
											class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
										<td scope="row"><a
											th:href="@{/client/delete/{id}(id=${client.idClient})}"
											class="btn btn-danger"><i class="fas fa-user-times ml-2"></i></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>